    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

    :root{
        --green:#186D3C;
        --black:#29292b;
        --light-color:rgb(0, 0, 0);
        --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
        --border:.2rem solid rgba(0,0,0,.1);
        --outline:.1rem solid rgba(0,0,0,.1);
        --outline-hover:.2rem solid var(--black);
    }

    *{
        font-family: 'Poppins', sans-serif;
        margin:0; padding:0;
        box-sizing: border-box;
        outline: none; border:none;
        text-decoration: none;
        transition: all .2s linear;
    }

    html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-padding-top: 7rem;
    }

    body{
        background:#eee;
    }

    section{
        padding:2rem 9%;
    }

    .heading{
        text-align: center;
        padding:2rem 0;
        padding-bottom: 3rem;
        font-size: 3.5rem;
        color:var(--black);
    }

    .heading1{
        content: "";
        width: 120px;
        display: block;
        text-align: center;
        font-size: 2.5rem;
        color: white;
        background: #29292b;
    }

    .heading span{
        color:var(--green);
        display: inline-block;}
    .header .logo img{
        height: 8rem;
    }
    .btn{
        margin-top: 1rem;
        display: inline-block;
        padding:.8rem 3rem;
        font-size: 1.7rem;
        border-radius: .5rem;
        border:.2rem solid var(--black);
        color:var(--black);
        cursor: pointer;
        background: none;
    }
    .btn:hover{
        background: var(--green);
        color:#fff;
    }

    .header{
        position: fixed;
        top:0; left:0; right: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem 5%;
        background:#fff;
        box-shadow: var(--box-shadow);
    }

    .header .logo{
        font-size: 2.5rem;
        font-weight: bolder;
        color:var(--black);
    }

    .header .logo i{
        color:var(--green);
    }

    .header .navbar a{
        font-size: 1.7rem;
        margin:0 1rem;
        color:var(--black);
    }

    .header .navbar a:hover{
        color:var(--green);
    }

    .header .icons div{
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
        border-radius: .5rem;
        background: #eee;
        color:var(--black);
        font-size: 2rem;
        margin-left: .3rem;
        cursor: pointer;
        text-align: center;
    }

    .header .icons div:hover{
        background: var(--green);
        color:#fff;
    }

    #menu-btn{
        display: none;
    }

    .header .search-form{
        position: absolute;
        top:110%; right:-110%;
        width: 50rem;
        height:5rem;
        background: rgb(255, 255, 255);
        border-radius: .5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        box-shadow: var(--box-shadow);
    }

    .header .search-form.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .search-form input{
        height:100%;
        width:100%;
        background: none;
        text-transform: none;
        font-size: 1.6rem;
        color:var(--black);
        padding:0 1.5rem;
    }

    .header .search-form label{
        font-size: 2.2rem;
        padding-right: 1.5rem;
        color:var(--black);
        cursor: pointer;
    }

    .header .search-form label:hover{
        color:var(--green);
    }

    .home{
        display: flex;
        background: url(/paddy_paddad/image/home-img1.png) no-repeat;
        background-attachment: fixed;
        background-repeat: no-repeat;  
        background-size: cover;
        padding: 15rem;
    }
    .home::after{
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(124, 94, 94, 0.788)
    }
    .home .content{
        margin-top: 7rem;
        text-align: center;
        width:60rem;
    }

    .home .content h3{
        color:var(--black);
        font-size: 3rem;
    }

    .home .content h3 span{
        color:var(--green);
    }

    .home .content p{
        color:var(--light-color);
        font-size: 1.7rem;
        padding:1rem 0;
        line-height: 1.8;
    }
    .features .feature-slider{
        padding:1rem;
    }

    .features .feature-slider:first-child{
        margin-bottom: 2rem;
    }
    .features .feature-slider .box{
        background: #ffff;
        height: 100%;
        border-radius: .5rem;
        text-align: center;
        padding:3rem 2rem;
        outline-offset: -1rem;
        outline: var(--outline);
        box-shadow: var(--box-shadow);
        transition: .2s linear;
    }

    .features .feature-slider .box:hover{
        outline-offset: 0rem;
        outline: var(--outline-hover);
    }

    .features .feature-slider .box img{
        height:15rem;
        border-radius: 10px;
    }

    .features .feature-slider .box h3{
        font-size: 2rem;
        color:var(--black);
    }

    .features .feature-slider .box .price{
        font-size: 2rem;
        color:var(--light-color);
        padding:.5rem 0;
    }

    .features .feature-slider .box .stars i{
        font-size: 1.7rem;
        color:var(--green);
        padding:.5rem 0;
    }

    .flip-card {
        margin-left: 5%;
        align-items: center;
        width: 280px;
        height: 250px;
        perspective: 1000px;
      }
      
      .flip-card-inner {
        text-align: center;
        transition: transform 0.9s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
          margin-top: 5%;
          margin-left: 5%;
          align-items: center;
        color: var(--green);
      }
      
      .flip-card-back {
          margin-top: 20%;
          height: 31px;
            color: rgb(0, 0, 0);
        transform: rotateY(180deg);
      }
    .float {
        box-shadow: -0px 0px 10px rgb(0, 0, 0);
        transform: translatey(0px);
        animation: float 5s ease-in-out infinite;
    }
    @keyframes float {
        0% {
            box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.486);
            transform: translatey(30px);
        }
        50% {
            box-shadow: 0 5px 5px 0px rgba(0,0,0,0.2);
            transform: translatey(-20px);
        }
        100% {
            box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.486);
            transform: translatey(30px);
        }
    
    }
    .products .arrow {
        color: #555;
        display: flex;
        font-size: 10px;
        
       
    }
    .products .arrow-left{
        margin-left: 15%;
        
        
    }
    .products .arrow-right{
        margin-left: 73%;
       
    }

    .products .product-slider{
        padding:1rem;
    }

    .products .product-slider:first-child{
        margin-bottom: 2rem;
    }
    .products .product-slider .box{
        background: #ffff;
        height: 100%;
        border-radius: .5rem;
        text-align: center;
        padding:3rem 2rem;
        outline-offset: -1rem;
        outline: var(--outline);
        box-shadow: var(--box-shadow);
        transition: .2s linear;
    }

    .products .product-slider .box:hover{
        outline-offset: 0rem;
        outline: var(--outline-hover);
    }

    .products .product-slider .box img{
        height:20rem;
        border-radius: 10px;
    }

    .products .product-slider .box h3{
        font-size: 2.5rem;
        color:var(--black);
    }

    .products .product-slider .box .price{
        font-size: 2rem;
        color:var(--light-color);
        padding:.5rem 0;
    }

    .products .product-slider .box .stars i{
        font-size: 1.7rem;
        color:var(--green);
        padding:.5rem 0;
    }

    .container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    /*Styles for product card*/
    
    .product .product-card:before{
        content: '';
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .product .product-card .product-img{
        z-index: 1;
        position: absolute;
        max-width: 350px;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .product .product-card .name{
        z-index: 2;
        color: #fff;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 130px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    
    .product .product-card .price{
        z-index: 2;
        color: #fff;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 80px;
        font-size: 30px;
        font-weight: 300;
    }
    
    .product .product-card .popup-btn{
        z-index: 2;
        color: #fff;
        background: #555;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 10px 15px;
        border-radius: 20px;
        cursor: pointer;
    }
    
    
    /*Styles for popup view*/
    
    .product .popup-view{
        z-index: 2;
        background: rgba(159, 255, 191, 0.438);
        position: fixed;
        top: 10%;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    
    .product .popup-view.active{
        opacity: 1;
        visibility: visible;
    }
    
    .product .popup-card{
        position: relative;
        display: flex;
        width: 800px;
        height: 500px;
        margin: 20px;
    }
    
    .product .popup-card .product-img{
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 400px;
        
        transform: translateY(25px);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .product .popup-card .product-img img{
        z-index: 1;
        position: relative;
        border-radius: 10px;
        width: 350px;
        left: 0px;
        box-shadow: 10px 10px 20px   #00000081;
    }
    
    .product .popup-card .info{
        z-index: -2;
        background: #fff;
        display: flex;
        flex-direction: column;
        width: 55%;
        height: 90%;
        box-sizing: border-box;
        padding: 40px;
        border-radius: 10px;
    }
    
    .product .popup-card .close-btn{
        color: #555;
        z-index: 3;
        position: absolute;
        right: 0;
        font-size: 20px;
        margin: 30px;
        cursor: pointer;
    }
    .product .popup-card .whatsapp{
        color: #fff;
        position: absolute;
        cursor: pointer;
        top: 70%;
        left: 60%;
        background: var(--green);
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px auto;
        padding: 10px 50px;
        border-radius: 20px;    
    }
    
    .product .popup-card .info h2{
        font-size: 40px;
        line-height: 40px;
        margin: 10px;
    }
    
    .product .popup-card .info h2 span{
        font-size: 25px;
        color: var(--green);
        letter-spacing: 2px;
    }
    
    .product .popup-card .info p{
        font-size: 16px;
        margin: 10px;
    }
    
    .product .popup-card .info .price{
        font-size: 45px;
        font-weight: 300;
        margin: 10px;
    }
    
    .product .popup-card .info .add-cart-btn{
        color: #fff;
        background: var(--green);
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px auto;
        padding: 10px 50px;
        border-radius: 20px;
    }

    
    /*Responsive styles*/
    
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:100px;
        right:40px;
        background-color:var(--green);
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
         z-index:100;
    }

    .my-float{
        margin-top:16px;
    }


    .combos .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
        gap:1.5rem;
    }

    .combos .box-container .box{
        padding:3rem 2rem;
        border-radius: .5rem;
        background:#fff;
        box-shadow: var(--box-shadow);
        outline:var(--outline);
        outline-offset: -1rem;
        text-align: center;
    }

    .combos .box-container .box:hover{
        outline:var(--outline-hover);
        outline-offset: 0rem;
    }

    .combos .box-container .box img{
        margin:1rem 0;
        height:15rem;
    }

    .combos .box-container .box h3{
    font-size: 2rem;
    color:var(--black);
    line-height: 1.8;
    }

    .combos .box-container .box p{
        font-size: 1.7rem;
        color:var(--light-color);
        line-height: 1.8;
        padding:1rem 0;
    }

    .review .review-slider{
        padding:1rem;
    }

    .review .review-slider .box{
        background: #fff;
        border-radius: .5rem;
        text-align: center;
        padding:3rem 2rem;
        outline-offset: -1rem;
        outline: var(--outline);
        box-shadow: var(--box-shadow);
        transition: .2s linear;
    }

    .review .review-slider .box:hover{
        outline:var(--outline-hover);
        outline-offset: 0rem;
    }

    .review .review-slider .box img{
        height:10rem;
        width:10rem;
        border-radius: 50%;
    }

    .review .review-slider .box p{
        padding:1rem 0;
        line-height: 1.8;
        color:var(--light-color);
        font-size: 1.5rem;
    }

    .review .review-slider .box h3{
        padding-bottom: .5rem;
        color:var(--black);
        font-size: 2.2rem;
    }

    .review .review-slider .box .stars i{
        color:var(--green);
        font-size: 1.7rem;
    }

    .blogs .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap:1.5rem;
    }

    .blogs .box-container .box{
        overflow: hidden;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        background:#fff;
    }

    .blogs .box-container .box img{
        height:15rem;
        width:100%;
        object-fit: cover;
    }

    .blogs .box-container .box .content{
        padding:2rem;
    }

    .blogs .box-container .box .content .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        margin-bottom: 1rem;
        border-bottom: var(--border);
    }

    .blogs .box-container .box .content .icons a{
        color:var(--light-color);
        font-size: 1.5rem;
    }

    .blogs .box-container .box .content .icons a:hover{
        color:var(--black);
    }

    .blogs .box-container .box .content .icons a i{
        color:var(--green);
        padding-right: .5rem;
    }

    .blogs .box-container .box .content h3{
        line-height: 1.8;
        color:var(--black);
        font-size: 2.2rem;
        padding:.5rem 0;
    }

    .blogs .box-container .box .content p{
        line-height: 1.8;
        color:var(--light-color);
        font-size: 1.5rem;
        padding:.5rem 0;
    }
    .foot1 {
        width: 20rem;
    }

    .footer{
        align-items: center;
        background: url(/paddy_paddad/image/foot.png) no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;  
        background-size: cover;
        padding-top: 1rem;
    }
    .footer::after{
    
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(255, 255, 255, 0.788);
    }

    .footer .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 0fr));
        gap:1rem;
    }

    .footer .box-container .box h3{
        font-size: 2.5rem;
        color:var(--black);
        padding:1rem 0;
    }

    .footer .box-container .box h3 i{
        color:var(--green);
    }

    .footer .box-container .box .links{
        display: block;
        font-size: 1.5rem;
        color:var(--light-color);
        padding:1rem 0;
    }

    .footer .box-container .box .links i{
        color:var(--green);
        padding-right: .5rem;
    }

    .footer .box-container .box .links:hover i{
        padding-right: 2rem;
    }


    .footer .box-container .box p{
        line-height: 1.8;
        font-size: 1.5rem;
        color:var(--light-color);
        padding:1rem 0;
    }

    .footer .box-container .box .share a{
        height:4rem;
        width:4rem;
        line-height:4rem;
        border-radius: .5rem;
        font-size: 2rem;
        color:var(--black);
        margin-right: 1rem;
        background: #eee;
        text-align: center;
    }

    .footer .box-container .box .share a:hover{
        background: var(--green);
        color: #fff;
    }

    .footer .box-container .box .email{
        width: 100%;
        margin:.7rem 0;
        padding:1rem;
        border-radius: .5rem;
        background: #eee;
        font-size: 1.6rem;
        color:var(--black);
    }

    .footer .box-container .box .payment-img{
        margin-top: 2rem;
        height: 3rem;
        display: block;
    }

    .footer .credit{
        text-align: center;
        margin-top: 1rem;
        padding:1rem;
        padding-top: 2.5rem;
        font-size: 2rem;
        color:var(--black);
        border-top: var(--border);
    }

    .footer .credit span{
        color:var(--green);
    }

    /* media queries  */

    @media (max-width:991px){

        html{
            font-size: 55%;
        }

        .header{
            padding:2rem;
        }

        section{
            padding:2rem;
        }

    }

    @media (max-width:768px){

        #menu-btn{
            display: inline-block;
        }

        .header .search-form{
            width:90%;
        }

        .header .navbar{
            position: absolute;
            top:110%; right:-110%;
            width:30rem;
            box-shadow: var(--box-shadow);
            border-radius: .5rem;
            background: #fff;
        }

        .header .navbar.active{
            right:2rem;
            transition: .4s linear;
        }

        .header .navbar a{
            font-size: 2rem;
            margin:2rem 2.5rem;
            display: block;
        }

    }

    @media (max-width:450px){

        html{
            font-size: 50%;
        }

        .heading{
            font-size: 2.5rem;
        }

        .footer{
            text-align: center;
        }

        .footer .box-container .box .payment-img{
            margin: 2rem auto;
        }

    }
    @media (max-width: 900px){
        .product .popup-card{
        flex-direction: column;
        width: 500px;
        height: 430px;
        }
    
        .product .popup-card .product-img{
        z-index: 3;
        width: 100%;
        height: 150px;
        transform: translateY(0);
        background-color: transparent;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        }
    
        .product .popup-card .product-img img{
        max-width: 65%;
        box-shadow: 10px 10px 20px   #00000081;
        left: -30px;
        }
        .product .popup-card .product-img img:hover{
            transform: scale(.90);
        }
        
    
        .product .popup-card .info{
        width: 100%;
        height: 200%;
        padding: 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 10px;
        }
    
        .product .popup-card .info h2{
        margin: 20px 5px 5px 5px;
        font-size: 25px;
        }
    
        .product .popup-card .info h2 span{
        font-size: 20px;
        }
    
        .product .popup-card .info p{
        margin: 5px;
        font-size: 13px;
        }
    
        .product .popup-card .info .price{
        margin: 5px;
        font-size: 30px;
        }
    
        .product .popup-card .info .add-cart-btn{
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 14px;
        }
    
        .product .popup-card .info .add-wish{
        font-size: 14px;
        }
        .product .popup-card .whatsapp{
            color: #fff;
            position: absolute;
            cursor: pointer;
            top: 80%;
            left: 30%;
            background: var(--green);
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        align-items: center;
        margin-top: 100px;
            padding: 10px 20px;
            border-radius: 20px;    
        }
        .btn{
            background-color:var(--green);
        
            border:.2rem solid var(--black);
            color:#fff;
        
        }
        .btn:hover{
            background: none;
            color:var(--black);
        }
    
        .product .popup-card .close-btn {
        z-index: 4;
        color: rgb(0, 0, 0);
        }
        .home .content h3{
            color:var(--black);
            font-size: 3rem;
        }
        .home{
            background: url(/paddy_paddad/image/home1.png) no-repeat;
            background-attachment: fixed;
            background-repeat: no-repeat;  
            background-size: cover;
        }
        .footer{
            align-items: center;
            background: url(/paddy_paddad/image/foot1.png) no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;  
            background-size: cover;
        }
        .footer .box-container .box .links{
            display: block;
            font-size: 2rem;
            color:var(--light-color);
            padding:1rem 0;
        }
        .footer .credit{
            text-align: center;
            margin-top: 1rem;
            padding:1rem;
            padding-top: 2.5rem;
            font-size: 2rem;
            color:var(--black);
            border-top: var(--border);
        }
        .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:110px;
            right:25px;
            background-color:var(--green);
            color:#FFF;
            border-radius:50px;
            text-align:center;
            font-size:30px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
             z-index:100;
        }
        .float {
            box-shadow: -0px 0px 10px rgb(0, 0, 0);
            transform: translatey(0px);
            animation: float 5s ease-in-out infinite;
        }
        @keyframes float {
            0% {
                box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.486);
                transform: translatey(30px);
            }
            50% {
                box-shadow: 0 5px 5px 0px rgba(0,0,0,0.2);
                transform: translatey(-20px);
            }
            100% {
                box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.486);
                transform: translatey(30px);
            }
        
        }
         .features .feature-slider .box{
        background: #ffff;
        height: 250px;
        border-radius: .5rem;
        text-align: center;
        outline-offset: -1rem;
        outline: var(--outline);
        box-shadow: var(--box-shadow);
        transition: .2s linear;
    }
    
        .flip-card {
            width: 240px;
            height: 200px;
            
            margin: 0px 20px 0px;
            align-items: center;
            perspective: 1000px;
          }
          .flip-card-front {
              margin: 0px 0px 0px 0px; 
              top: -20px;
              padding: 10%;
            align-items: center;
            color: var(--green);
        }
          .flip-card-back {
              align-items: center;
              margin-left: 10px;
              top: 30px;
          }
          .products .arrow {
            color: #555;
            display: flex;
            font-size: 10px;
            align-items: center;
            
           
        }
        .products .arrow-left1 {
            margin-left: 25%;
        }
        .products .arrow-left1 span{
           
            display: none;
            
            
        }
        .products .arrow-right{
            
            margin-left: 1%;
           
        }
       
    
    }
